@import '../../styles/global';
@import '../../styles/variables';

.navbartrends{
    margin-top: 20px;
    margin-left: 20px;
    &-list{
        display:flex;
        align-items: center;
        height:100%;
        background-color: $main-button-background-color;
        max-width: fit-content;
        border-radius: 20px;

        &-item{
            list-style-type: none;
            color: $white;
            border-radius: 20px;
            padding: 4px 8px;
            background-color: $main-button-background-color;
            font-weight: 700;
            color: $black;
            &--active{
                background-color: $nav-button-color;
                color: $white;
                font-weight: 400;
                border-radius: 20px;
                padding: 4px 8px;
                list-style-type: none;
            }
        }
    }
}