//------------------------------
// Color palette
//------------------------------

// Text variables
$nav-text-color: #ffffff;
$nav-dropdown-text-color: #64676b;
$main-link-color: #249cc9;

// Fills

$white: #ffffff;
$black: #000000;
$nav-referral-background-color: #333333;
$nav-button-color: #e35342;
$nav-button-border-color:#b22520;
$nav-user-border-color: #298aae;
$nav-bar-background-color: #888888;
$nav-bar-background-color-active:#525252;
$main-button-background-color: #8b8d90;
$main-button-border-color: #64676b;